@using Application.Catalogs.CatalogItems.CatalogItemServices
@using Application.Dtos

@model PaginatedItemsDto<FavouriteCatalogItemDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_CustomerPanel.cshtml";
}

  <!-- Breadcrumb section start -->
    <section class="breadcrumb-section section-b-space">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Wishlist</h3>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb section end -->

    <!-- Cart Section Start -->
    <section class="wish-list-section section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 table-responsive">
                    <table class="table cart-table wishlist-table">
                        <thead>
                            <tr class="table-head">
                                <th scope="col">image</th>
                                <th scope="col">product name</th>
                                <th scope="col">price</th>
                                <th scope="col">availability</th>
                                <th scope="col">action</th>
                            </tr>
                        </thead>
               @foreach (var item in Model.Data)
                {
                        <tbody>
                            <tr>
                                <td>
                                    <a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id" >
                                        <img src="@item.Image" class=" blur-up lazyload"
                                            alt="">
                                    </a>
                                </td>
                                <td>
                                    <a hasp-action="Details" asp-controller="Product" asp-route-Id="@item.Id" class="font-light">@item.Name</a>
                                    <div class="mobile-cart-content row">
                                        <div class="col">
                                            <p>In Stock</p>
                                        </div>
                                        <div class="col">
                                            <p class="fw-bold">$@item.Price</p>
                                        </div>
                                        <div class="col">
                                            <h2 class="td-color">
                                                <a href="javascript:void(0)" class="icon">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                            </h2>
                                            <h2 class="td-color">
                                                <a href="cart.html" class="icon">
                                                    <i class="fas fa-shopping-cart"></i>
                                                </a>
                                            </h2>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="fw-bold">$@item.Price</p>
                                </td>
                                <td>
                                    <p>@item.AvailableStock</p>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" class="icon">
                                        <i class="fas fa-times"></i>
                                    </a>
                                    <a href="cart.html" class="icon">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                  
                }
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- Cart Section End -->
