@page
@model Admin.EndPoint.Pages.CatalogItems.IndexModel
@{
}
      <!-- Container-fluid starts-->
            <div class="page-body">
                <div class="title-header">
                    <h5>Products List</h5>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <div class="table-responsive table-desi table-product">
                                            <table class="table table-1d all-package">
                                                <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Name</th>
                                                        <th>Category</th>
                                                        <th>Brand</th>
                                                        <th>Price</th>
                                                        <th>AvailableStock</th>
                                                        <th>RestockThreshold</th>
                                                        <th>MaxStockThreshold</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                   @foreach (var item in Model.CatalogItem.Data)
                                                   {
                                                       <tr>
                                                        <td>@item.Id</td>
                                                        <td>@item.Name</td>
                                                        <td>@item.Type</td>
                                                        <td>@item.Brand</td>
                                                        <td>@item.Price.ToString("n0")</td>
                                                        <td>@item.AvailableStock</td>
                                                        <td>@item.RestockThreshold</td>
                                                        <td>@item.MaxStockThreshold</td>
                                                        <td>
                                                            <ul>
                                                                <li>
                                                                    <a>
                                                                        <span class="lnr lnr-pencil"></span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a>
                                                                        <i class="far fa-trash-alt theme-color"></i>
                                                                    </a>
                                                                </li>
                                                                 <li>
                                                                    <a asp-page="Detail">
                                                                        <span class="lnr lnr-eye"></span>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </td>
                                                    </tr>
                                                   }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="pagination-box">
                                    <nav class="ms-auto me-auto " aria-label="...">
                                        <ul class="pagination pagination-primary">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="javascript:void(0)"
                                                    tabindex="-1">Previous</a>
                                            </li>

                                            <li class="page-item active">
                                                <a class="page-link" href="javascript:void(0)">1</a>
                                            </li>

                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0)">2 <span
                                                        class="sr-only">(current)</span>
                                                </a>
                                            </li>

                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0)">3</a>
                                            </li>

                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0)">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->

                <div class="container-fluid">
                    <!-- footer start-->
                    <footer class="footer">
                        <div class="row">
                            <div class="col-md-12 footer-copyright text-center">
                                <p class="mb-0">Copyright 2022 © Reza22050</p>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>